<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.srsystem.DAO.UserMapper">

    <resultMap id = "UserResult" type = "com.example.srsystem.domain.entity.Users" >
        <id property = "userId" column = "UserID" />
        <result property="firstName" column="FirstName" />
        <result property="lastName" column="LastName" />
        <result property="username" column="Username" />
        <result property="password" column="Password"/>
        <result property="email" column="Email" />
    </resultMap>

    <!-- register -->
    <insert id="register" parameterType="com.example.srsystem.domain.entity.Users">
        insert into users(`firstName`, `lastName`,`username`, `password`, `email`)
        values (#{firstName}, #{lastName}, #{username}, #{password}, #{email})
    </insert>

    <!-- log in-->
    <select id = "login" resultType = "com.example.srsystem.domain.entity.Users">
        select *
        from users
        where username = #{username}
    </select>

    <select id="selectUserById" resultMap="UserResult" >
        select *
        from users
        where userId = #{userId}
    </select>

    <select id="selectUserInfoByUserName" resultMap="UserResult" >
        select *
        from users
        where username = #{username}
    </select>

    <update id="changePassword" parameterType="com.example.srsystem.domain.entity.Users">
        update users
        set password = #{password}
        where username = #{username}
    </update>

    <select id="selectData" resultType="com.example.srsystem.domain.entity.Numeraidata" >
        select id,era,data_Type,feature_Intelligence1,feature_Intelligence2,feature_Intelligence3,feature_Intelligence4,feature_Intelligence5,feature_Intelligence6,feature_Intelligence7,feature_Intelligence8,feature_Intelligence9,feature_Intelligence10,feature_Intelligence11,feature_Intelligence12,target
        from numeraidata
    </select>

</mapper>
